.bottom-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 10px;
  background-color: #f7f7f7;
  height: 50px; /* Reduced height */
  position: fixed; /* Change from absolute to fixed */
  bottom: calc(56px + env(safe-area-inset-bottom)); /* Adjust bottom position */
  left: 0;
  right: 0;
  border-radius: 15px; /* Increased border-radius to round all corners */
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-tap-highlight-color: transparent; /* Add this line */
}

.bottom-nav-bar > * {
  flex-grow: 1;
  text-align: center;
  font-size: 12px; /* Reduced font size */
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* Add this line */
}

.bottom-nav-bar.icon {
  width: 10px;
  height: 10px;
  fill: #888;
}

.bottom-nav-bar:active.icon,
.bottom-nav-bar:active.text {
  color: #000;
}

.bottom-nav-bar:active.icon {
  fill: #fff;
}

.bottom-nav-bar *:active,.bottom-nav-bar *:focus {
  outline: none;
  box-shadow: none;
}

/* Add this rule to make the navigation bar stick to the bottom of the viewport */
body {
  min-height: 100vh; /* Set the minimum height of the body to the viewport height */
  display: flex;
  flex-direction: column; /* Make the body a flex container */
}

.main-content {
  flex-grow: 1; /* Make the main content area take up the remaining space */
}