.bottom-nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2px 10px;
  background-color: #f7f7f7;
  height: 50px; /* Reduced height */
  position: sticky; /* Changed from fixed to sticky */
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 15px; /* Increased border-radius to round all corners */
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px; /* Add this line to create a gap */
  transform: translateZ(0); /* Add this line to create a new stacking context */
}

.bottom-nav-bar > * {
  flex-grow: 1;
  text-align: center;
  font-size: 12px; /* Reduced font size */
  cursor: pointer;
}

.bottom-nav-bar.icon {
  width: 10px;
  height: 10px;
  fill: #888;
}

.bottom-nav-bar:active.icon,
.bottom-nav-bar:active.text {
  color: #000;
}

.bottom-nav-bar:active.icon {
  fill: #fff;
}

.bottom-nav-bar *:active, .bottom-nav-bar *:focus {
  outline: none;
  box-shadow: none;
}