.bottom-nav-bar {
  position: fixed;
  bottom: calc(3vh + env(safe-area-inset-bottom));
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1); /* Очень прозрачный белый цвет */
  backdrop-filter: blur(20px) saturate(180%); /* Увеличенный эффект размытия и насыщенности */
  height: 50px;
  z-index: 1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Более выразительная тень */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Полупрозрачная белая граница */
}

.bottom-nav-bar > * {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.bottom-nav-bar.icon {
  width: 20px;
  height: 20px;
  fill: #888;
}
